@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ion-icon {
    font-size: 22px;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: bold;
}

p strong {
    margin: 3px;
}

header {
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    border: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

main {
    margin: 88px auto;
    width: 935px;
    display: flex;
}

footer {
    display: none;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    margin: auto;
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 12px;
    color: #979797
}

.logo img {
    margin-top: 7px;
}

.hbtns ion-icon {
    margin: 10px;
}

.vbar {
    background-color: #E5E5E5;
    height: 25px;
    width: 1px;
    margin-right: 8px;
    margin-left: 8px;
}

/* Main Content */
.maincontent {
    width: 614px;
    overflow: hidden;
}

/* Carousel */
.carousel {
    position: relative;
}

.rollbtn img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    box-sizing: content-box;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.5);
}

.stories {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;

    display: flex;
    height: 118px;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 40px;
}

.story {
    min-width: 77px;
}

.img1 {
    height: 66px;
    width: 66px;
    position: relative;
    margin: auto;
}

.img1 img {
    border-radius: 100%;
}

.story p {
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.img2 {
    height: 60px;
    width: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid white;
    border-radius: 100%;
}


/* Content */
.content {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 749px;
    max-height: 749px;
    margin-bottom: 40px;
}

.c1 {
    display: flex;
    justify-content: space-between;
    min-height: 10%;
    font-size: 14px;
}

.c2 {
    display: flex;
    justify-content: space-between;
    min-height: 10%;
    font-size: 14px;
}

.c3 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.c2 p {
    font-weight: 300;
    display: flex;
    align-items: center;
}

.c1-1 {
    display: flex;
    align-items: center;
    margin: 5px;
    font-weight: 500;
}

.c1-2 {
    display: flex;
    align-items: center;
    margin: 5px;
    color: #636363;
}

.c2-1 {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
}


.c2-2 {
    margin: 5px;
}

.c1-1 *,
.c1-2 *,
.c2-2 * {
    margin: 5px;
}

.c1-1 img {
    height: 32px;
    width: 32px;
}

.c2-1-1,
.c2-1-2 {
    margin: 5px;
    display: flex;
}

.c2-1-1 ion-icon {
    margin-right: 10px;
}

.c2-1-2 img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

/* Side Content */
.sidecontent {
    display: flex;
    flex-direction: column;
    width: 293px;
    margin: 0 5px;
    padding: 5px;
}

.sidecontent div {
    padding: 5px;
}

.s1 {
    height: 70px;
    display: flex;
    align-items: center;
}

.s2 {
    height: 300px;
}

.s3 {
    height: 100px;
}

.s1 h1 {
    font-size: 14px;
    color: #262626;
    margin-bottom: 3px;
}

.s1 h2 {
    font-size: 14px;
    color: #8E8E8E;
}

.s3 p {
    color: #C7C7C7;
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 20px;
}

.s1-1 {
    display: flex;
}

.s2-1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s2-2 {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.s1-1 img {
    height: 56px;
    width: 56px;
}

.s2-1 h1 {
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
}

.s2-1 h2 {
    font-weight: 500;
    font-size: 12px;
    color: #262626;
}

.s2-2 img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.s2-2 h1 {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
    margin-bottom: 3px;
}

.s2-2 h2 {
    font-weight: 400;
    font-size: 12px;
    color: #8E8E8E;
}

.s2-2 h3 {
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}

.s2-2-1,
.s2-2-2 {
    display: flex;
    align-items: center;
}

@media (max-width: 935px) {
    .sidecontent {
        display: none;
    }

    .maincontent {
        margin: auto;
    }

    main {
        width: 100vw;
    }

    .header {
        padding: 0px 10px;
        width: 100vw;
    }
}

@media (max-width: 614px) {
    body {
        width: 100vw;
    }

    main {
        margin: 48px auto;
    }

    footer {
        display: flex;
    }

    .mobignore {
        display: none;
    }

    .logo img {
        position: absolute;
        margin: auto;
        top: 7px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 110px;
        height: 30px;
    }

    .hbtns ion-icon {
        margin: 0px;
    }

    .stories {
        border: none;
        background-color: transparent;
        margin-bottom: 5px;
    }

    .fbtns {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 100%;
    }

}